<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Queens Of Bling" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag "theme/favicon/favicon.ico" %>
    <link rel="apple-touch-icon" href="<%= asset_path('theme/favicon/apple-touch-icon.png') %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "theme/vendor_bundle", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
